:root{
  --cor-primary:#00A3FF;
  --cor-second:#e9e9e9;
  --cor-third:#151b26;
}


body.dark {
  padding: 15px;
  background-color: #151b26;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  transition: background 0.3s, color 0.3s;
}



body.dark .toggle-theme {
  color: var(--cor-primary);
}

body.light {
  padding: 15px;
  background-color: var(--cor-primary);
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  transition: background 0.3s, color 0.3s;
}


body.light .toggle-theme {
  color: var(--cor-primary);
}

span{
  color: var(--cor-second);
}

h1{
  cursor: pointer;
  transition: 0.5s;
}

h1:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.anime-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: 0.5s;
}

.menu-anime {
  display: flex;
  justify-content: center; /* Centraliza no desktop */
  width: 100%;
}



/* Estilo comum para o menu */
.menu-anime ul {
  background-color: var(--cor-second);
  color: var(--cor-third);
  width: 650px;
  height: 50px;
  align-items: center;
  list-style: none;
  display: flex;
  border-radius: 15px;
  gap: 20px;
}

/* Estilo para o menu quando o tema escuro está ativo */
body.dark .menu-anime ul {
  background-color: var(--cor-second); /* Mudança para cor escura */
  color: var(--cor-dark-second); /* Cor do texto no tema escuro */
}


.menu-anime a{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}


.icon{
  display: flex;
}

.anime-header:hover{
  transform: scale(1.05);
}

.button-search{
  width: 20px;
  background: none;
}

.button-search:hover{
  background: none;
}

.search-anime{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-anime{
  margin: 20px;
  width: 600px;
  height: 40px;
  outline: none;
  border-radius: 15px;
  border: none;
  padding: 5px;
}


button{
  width: 700px;
  margin: 25px;
  height: 40px;
  background-color:#fff ;
  color: var(--cor-primary);
  border-radius: 15px;
  font-weight: bold;
  font-size: 15px;
  border:none;
  cursor: pointer;
  transition: 0.5s;
}

button:hover{
  background-color:var(--cor-primary) ;
  color: #fff;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.calen-animes{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;

}


.anime-day{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
}

.anime {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor-primary);
  border-radius: 5px;
  margin: 0px;
  width: 200px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 25px;
  color: #fff;
  transition: 0.5s;
}

.anime:hover{
  transform: scale(1.05);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.anime img {
  width: 100px;
  height: auto;
  margin-bottom: 10px; 
  border-radius: 5px;
  margin: 15px;
}

.anime-listen{
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  place-items: center;
  transition: 0.5s;
}

.anime-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 550px;
  cursor: pointer;
  background-color: var(--cor-second);
  border-radius: 10px;
  margin: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.myAnime{
  display: flex;
  flex-direction: column;
  max-width:100%;
  align-items: center;
  color: var(--cor-second);
}

.animeMy{
  max-width: 720px;
}

.addAnime{
  align-items: center;
  display: flex;
}

.addAnime button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.animeFav{
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.favAnime{
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
}

.favAnime h4{
  list-style: none;
  outline: none;
  text-decoration: none;
}

.favAnime-title{
  text-decoration: none;
  outline: none;
  list-style: none;
  color: inherit;
}

.favAnime button{
  width: 100px;
  height: 50px;
  background-color: red;
  color: #fff;
}

.toggle-theme{
  background-color: var(--cor-primary);
  width: 50px;
}


@media only screen and (max-width: 720px) {
  

  h1{
    width: 200px;
    cursor: pointer;
    transition: 0.5s;
    cursor: pointer;
  }
  
  h1:hover{
    transform: scale(1.05);
  }

  .menu-anime {
    justify-content: flex-start; /* Alinha à esquerda no mobile */
    margin-left: 20px; /* Pequeno espaçamento opcional */
  }

  .menu-anime ul{
    width: 60%;
    gap: 10px;
    
  }

  .menu-anime nav{
    width: 100%;
    
  }
  
  
  .anime-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: 0.5s;
    width: 300px;
  }
  
  .icon{
    max-width: 250px;
    display: flex;
  }
  
  .anime-header:hover{
    transform: scale(1.05);
  }
  
  .button-search{
    width: 20px;
    background: none;
  }
  
  .button-search:hover{
    background: none;
  }
  
  .search-anime{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input-anime{
    margin: 20px;
    width: 200px;
    height: 40px;
    outline: none;
    border-radius: 15px;
    border: none;
    padding: 5px;
  }


  button {
    width: 300px;
  }

  .anime-day{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .anime {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-primary);
    border-radius: 5px;
    margin: 0px;
    width: 50%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 10px;
    color: #fff;
    transition: 0.5s;
  }

  .anime-listen{
    display: flex;
    flex-direction: column;
  }
  
  .anime-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 550px;
    background-color: var(--cor-second);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  }

  .myAnime {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--cor-second);
  }
  
  .addAnime {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  
  .addAnime button{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .myAnime{
    display: flex;
    max-width: 100%;
    color: var(--cor-second);
  }

  .animeMy{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    text-align: center;
    padding: 10px;
    color :#ffff;
  }
  
  .animeFav{
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
  }

  .favAnime{
    text-align: center;
    display: flex;
    width: 200px;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
  }

  
}